body{
background-color: rgb(0, 0, 0);
color: white;
}
span{
    font-size: 10px;
}
li, h3, h2, h1, p{
    color: rgb(245, 139, 0)
}
.link, .title{
    text-align: center;
    background-color: rgb(255, 238, 0);
    color: black;
} .title{
    font-size: 50px;
}
