*{
box-sizing: border-box;}
body{
background-color: rgb(17, 21, 29);
color: white;
}
span{
    font-size: 10px;
}
li, h3, h2, h1, p{
    color: rgb(182, 182, 182)
}
.link, .title{
    text-align: center;
    color: black;
    margin: 0px;
    padding-left: 20px;
    animation:infinite 10s linear infinite 1s infinite linear fill;
} 
.title{
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    background-image: url(../images/muffins.jpg);
}
.bob{
    background-color: rgb(0, 0, 0);
    margin: 50px;
    border-color: white;
    border-width: 12px;
    padding: 180px;
    background-image: url(../images/lasagna.jpg);
}
.secret{
    margin-top: 0px;
    margin-bottom: 1px;
    line-height: 0.5;
    font-size: xx-small;
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: white;
}
